#container

{

height:770px;
width:750px;
background-color:white;
position:relative;
margin:auto;
border:solid;

}

#header

{
font-size:26px;
height:140px;
width:750px;
background-color:2F74D0;
margin:0px auto;
position:absolute;
text-decoration:underline;

}

#banner
{
height:110px;
width:750px;
background-color:7BCAE1;
margin-top:140px;
position:absolute;
text-decoration:blink;


}

#nav

{

height:30px;
width:750px;
background-color:C0F7FE;
position:absolute;
margin-top:250px;
}

#main
{
height:440px;
width:500;
background-color:4FBDDD;
position:absolute;
margin-top:280;
border:solid;
background-attachment:scroll;


}
#pics
{
height:180px;
width:250px;
background-color:CFE7E2;
position:absolute;
margin-top:280px;
margin-left:495;
background-attachment:scroll;
background-image:url('celeb.jpg');
background-repeat:no-repeat;
border:solid;
}
#news
{
height:230px;
width:250px;
background-color:9191FF;
position:absolute;
margin-top:465;
margin-left:495;
border:solid;
text-indent:10px;
}

#footer

{
height:70px;
width:750px;
background-color:black;
position:absolute;
margin-top:700;
text-align:center;
border:solid;
color:white;
}


